<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Diplom.Properties.Settings.Diplom_primaryConnectionString"
        connectionString="Data Source=MSI-ANDREW\SQLEXPRESS;AttachDbFilename=C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Diplom.mdf;Integrated Security=True;Connect Timeout=30"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
